.authenticate {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.left-panel {
  flex: 1;
  padding: 1rem;
  /* TODO: On prod remove this image */
  background-image: url("https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--palette-50); /* Background color fallback */
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 320px;
  padding: 1rem;
  gap: 1rem;
  border-radius: 5px;
}
.auth-link{
  display: flex;
  gap: .5rem;
}
@media (max-width: 768px) {
  .authenticate {
    flex-direction: column;
  }

  .left-panel {
    min-height: fit-content;
    overflow: hidden;
    max-height: 200px;
  }
}
