@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Base color: #FF4500 using uicolors.app palette*/
:root {
  /* Background-color */
  --palette-0: #ffffff;
  /* Light text */
  --palette-50: #f5f5f1;
  --palette-100: #e6e5db;
  --palette-200: #cfccb9;
  --palette-300: #b3af91;
  --palette-400: #9d9672;
  --palette-500: #8f8563;
  --palette-600: #7e7257;
  --palette-700: #635745;
  --palette-800: #554a3e;
  --palette-900: #4b4138;
  /* Text color */
  --palette-950: #2a231e;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--palette-0);
}
.text.info{
  color: var(--palette-300);
  font-size: small;
}